@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    /* --------------- Text --------------- */
    /* Primary */
    --Very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --Soft-red: hsl(14, 88%, 65%);
    /* Neutral */
    --Very-dark-grayish-blue: hsl(237, 12%, 33%);
    --Dark-grayish-blue: hsl(240, 6%, 50%);
    /* -------- Background Gradient ---------*/
    --Soft-violet: hsl(273, 75%, 66%);
    --Soft-blue: hsl(240, 73%, 65%);
    /* -------------- Dividers ------------- */
    --Light-grayish-blue: hsl(240, 5%, 91%);
}

* {
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(var(--Soft-violet), var(--Soft-blue));
    font-size: 12px;
    font-family: 'Kumbh Sans', sans-serif;
}

main {
    background-color: White;    
    width: 338px;
    height: 510px;
    border-radius: 20px;
    padding: 0 1.5rem 0 1.5rem;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25% 75%;
    grid-template-areas: 
        "hero"
        "questions"
    ;    
}

.hero {
    grid-area: hero;     
    position: relative;
    top: 0;
    left: 0;
}

.hero-woman-mobile {
    position: relative;
    top: -85%;
    left: 0;
}

.hero-woman-desktop {
    display: none;
}

.hero-background-mobile {
    position: absolute;
    top: -5%;
    left: 9%;
}

.hero-background-desktop {
    display: none;
}

.box-desktop {
    display: none;
}

.questions {
    grid-area: questions;
}

.questions h1 {
    text-align: center;
    color: var(--Very-dark-desaturated-blue);
    font-size: 2rem;
    margin-bottom: 1rem;
}

.question {
    border-bottom: 1px solid var(--Light-grayish-blue);
    padding: 1rem 0 1rem 0;
}

.btn {
    background: none;
    width: 100%;
    text-align: start;
    color: var(--Very-dark-grayish-blue);
}

.btn::after {
    content: url("images/icon-arrow-down.svg");
    float: right;
}

.isOpen {
    font-weight: 700;
    color: var(--Very-dark-desaturated-blue);
}

.isOpen::after {
    transform: rotate(180deg);
}

.content {
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.content p {
    margin-top: 1rem;
    padding-right: 2rem;
    color: var(--Dark-grayish-blue);
}

@media (min-width: 1000px) {
    main {        
        width: 873px;
        height: 510px;
        border-radius: 20px;
        padding: 0;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;
        grid-template-areas: 
            "hero questions"   
        ;    
    }

    .hero {
        grid-area: hero;     
        position: relative;
        top: 0;
        left: 0;
    }
    
    .hero-container {
        height: 100%;
        overflow: hidden;
        background-image: url("images/bg-pattern-desktop.svg");
        background-repeat: no-repeat;
        background-position: left 120% top 80%;
        background-size: 170%;
    }

    .hero-woman-mobile {
        display: none;
    }
    
    .hero-woman-desktop {
        display: block;
        position: relative;
        overflow: hidden;
        top: 40px;
        left: -90px;
    }
    
    .hero-background-mobile {
        display: none;
    }
    
    .hero-background-desktop {
        display: block;
        position: absolute;
        width: 800px;
        top: -200px;
        left: -420px
    }
    
    .box-desktop {
        display: block;
        position: absolute;
        top: 170px;
        left: -115px;        
    }

    .questions {
        padding: 4rem 5rem 0 0;
    }

    .questions h1 {
        text-align: start;
        color: var(--Very-dark-desaturated-blue);
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    
    .btn:hover {
        color: var( --Soft-red);
        cursor: pointer;
    }
}